@charset "UTF-8";
.global-container, nav, .container > .top.well, .container .body {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box; }

.clean-ul, nav > div ul, footer > nav > ul, nav > nav > nav > ul, .container > .top.well > ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  text-decoration: none;
  transition: all ease-in-out 0.2s; }
  a:hover {
    opacity: 0.6; }

/* componentes */
.link {
  padding-left: 50px;
  background-image: url("external-link.svg");
  background-repeat: no-repeat;
  background-position: left center; }
  .link.play {
    background-image: url("link.play.svg"); }
  .link.news {
    background-image: url("link.news.svg"); }
  .link.pdf {
    background-image: url("icon.pdf.svg"); }
  .link > h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */
    letter-spacing: 0.4em;
    color: #4F4F4F; }
  .link > a {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height, or 117% */
    letter-spacing: 0.05em;
    color: #246BD7; }

.table {
  display: none; }

table {
  display: table;
  border-collapse: collapse;
  margin: 0 auto; }
  table thead th {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height, or 117% */
    letter-spacing: 0.05em; }
  table tbody td {
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    padding: 11px; }
    table tbody td:nth-child(2n+1) {
      /* identical to box height, or 150% */
      letter-spacing: 0.05em; }
    table tbody td:nth-child(2n) {
      /* or 150% */
      letter-spacing: 0.02em; }
  table tfoot td {
    /* CREDITO FIGURA */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    /* or 130% */
    letter-spacing: 0.02em;
    /* TEXTO BLACK 60% */
    color: rgba(0, 0, 0, 0.6);
    padding: 10px; }

.accordion {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto; }
  .accordion > h1 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    cursor: pointer;
    background: #2F80ED;
    padding: 21px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
    padding-left: 72px;
    /**/
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    letter-spacing: 0.15px;
    color: #FFFFFF; }
    .accordion > h1:before {
      content: '';
      background-image: url("accordion.plus.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      width: 21px;
      height: 21px;
      display: inline-block;
      position: relative;
      top: 3px;
      margin-right: 14px; }
  .accordion.expanded {
    border-bottom: 1px solid #C4c4c4; }
    .accordion.expanded > h1:before {
      background-image: url("accordion.minus.svg"); }
  .accordion > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 21px;
    /* identical to box height, or 78% */
    letter-spacing: 0.25px;
    /* Gray 1 */
    color: #333333;
    padding: 40px; }

.magnify > .magnify-lens {
  width: 300px !important;
  height: 300px !important; }

.magnify-mobile > .close {
  width: 64px !important;
  height: 64px !important;
  font: normal bold 40px/64px sans-serif !important;
  top: 20px !important;
  right: 20px !important; }

@media screen and (orientation: portrait) {
  table {
    display: none; }
  .table {
    display: block;
    width: 100%; } }

.global-container, nav, .container > .top.well, .container .body {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box; }

.clean-ul, nav > div ul, footer > nav > ul, nav > nav > nav > ul, .container > .top.well > ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

header {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  /* Blue 3 */
  background: #56CCF2;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 30px; }
  header > * {
    align-self: center; }
  header h1 {
    margin: 0;
    padding: 0;
    margin-left: 120px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF; }
  header img {
    height: 50px;
    margin-right: 120px; }

.global-container, nav, .container > .top.well, .container .body {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box; }

.clean-ul, nav > div ul, footer > nav > ul, nav > nav > nav > ul, .container > .top.well > ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

nav {
  display: block; }
  nav > div {
    width: 100%;
    background: #546D79;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px; }
    nav > div label, nav > div ul {
      display: inline-block; }
    nav > div label {
      margin-left: 19px;
      margin-right: 19px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */
      color: #FFFFFF; }
    nav > div ul li {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      padding: 9px;
      border: 1px solid #fff;
      border-radius: 4px;
      cursor: pointer; }
      nav > div ul li.active {
        background: #728EA3; }
      nav > div ul li a {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF; }
  nav > nav {
    /* Rectangle 21 */
    background: #90BDD2;
    border-radius: 0px 0px 30px 30px;
    margin-left: 53px;
    box-sizing: border-box;
    width: calc(100% - 53px);
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 18px;
    position: relative; }
    nav > nav > * {
      align-self: center; }
    nav > nav > nav {
      position: absolute;
      right: 50px; }
    nav > nav > h1 {
      padding: 0;
      margin: 0;
      margin-left: 44px;
      font-family: Roboto;
      font-style: italic;
      font-weight: bold;
      font-size: 20px;
      line-height: 21px;
      /* identical to box height, or 105% */
      letter-spacing: 0.05em;
      color: #FFFFFF; }

footer > nav, nav > nav > nav {
  background: none;
  border-radius: 0;
  margin: 0;
  width: fit-content;
  padding: 0;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */ }
  footer > nav > ul .prev, footer > nav > ul .next, nav > nav > nav > ul .prev, nav > nav > nav > ul .next {
    cursor: pointer;
    width: 12.5px;
    height: 16.67px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat; }
  footer > nav > ul .prev, nav > nav > nav > ul .prev {
    background-image: url("nav.prev.svg"); }
  footer > nav > ul .next, nav > nav > nav > ul .next {
    background-image: url("nav.next.svg"); }
  footer > nav > ul > li, nav > nav > nav > ul > li {
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px; }
    footer > nav > ul > li.active, nav > nav > nav > ul > li.active {
      border-bottom: 5px solid #0000CC; }
    footer > nav > ul > li > a, nav > nav > nav > ul > li > a {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */
      letter-spacing: 0.25px;
      color: #FFFFFF; }

.global-container, nav, .container > .top.well, .container .body {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box; }

.clean-ul, nav > div ul, footer > nav > ul, nav > nav > nav > ul, .container > .top.well > ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.container > .top.well {
  margin-top: 16px !important;
  margin-bottom: 36px !important;
  padding-top: 47px;
  padding-bottom: 40px;
  background: #ADF0FF;
  border-radius: 30px;
  text-align: center; }
  .container > .top.well > h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.6em;
    /* Gray 1 */
    color: #333333; }
  .container > .top.well > h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    /* Blue 1 */
    color: #2F80ED; }
  .container > .top.well > ul li {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #2F80ED;
    border-radius: 4px;
    padding: 9px;
    margin-bottom: 9px;
    margin-right: 6px;
    margin-left: 6px; }
    .container > .top.well > ul li a {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #2F80ED; }

.global-container, nav, .container > .top.well, .container .body {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box; }

.clean-ul, nav > div ul, footer > nav > ul, nav > nav > nav > ul, .container > .top.well > ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

footer {
  margin: 0;
  margin-top: 61px;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr;
  /* Blue 3 */
  background: #56CCF2;
  border-radius: 30px 30px 0px 0px; }
  footer > a, footer > nav {
    align-self: center; }
  footer > a > img {
    margin-left: 131px; }
  footer > nav {
    margin: 0 auto;
    display: block;
    position: relative;
    left: -131px; }

html, body {
  padding: 0;
  margin: 0; }

.container .body iframe {
  margin: 0 auto;
  display: block; }

.container .body > h1 {
  /* TÓPICO */
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 21px;
  /* identical to box height, or 87% */
  letter-spacing: 0.05em;
  color: #246BD7; }

.container .body > h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height, or 117% */
  letter-spacing: 0.05em;
  color: #246BD7; }

.container .body > sub {
  display: block;
  width: 100%;
  text-align: right;
  font-style: italic;
  margin-top: 52px;
  margin-bottom: 39px;
  /* TÓPICO */
  font-family: Roboto;
  font-style: italic;
  font-size: 20px;
  line-height: 21px;
  /* identical to box height, or 105% */
  letter-spacing: 0.05em;
  color: #246BD7; }

.container .body p {
  text-align: justify;
  /* CONTEUDO */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  /* or 150% */
  letter-spacing: 0.02em;
  /* TEXTO BLACK 60% */
  color: rgba(0, 0, 0, 0.6); }

.container .body > figure {
  margin: 0;
  margin-top: 29px;
  margin-bottom: 22px;
  width: 100%;
  display: block; }
  .container .body > figure > h1 {
    /* TITULO FIGURA */
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    font-weight: normal;
    /* identical to box height, or 117% */
    letter-spacing: 0.05em;
    color: #246BD7;
    margin: 0;
    padding: 0;
    margin-bottom: 12px; }
  .container .body > figure img {
    display: block;
    margin: 0 auto;
    max-width: 100%; }
  .container .body > figure > div {
    width: fit-content;
    margin: 0 auto; }
    .container .body > figure > div p {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      /* identical to box height, or 117% */
      letter-spacing: 0.02em;
      color: #4F4F4F; }
  .container .body > figure.full > div {
    width: 100%; }
  .container .body > figure.full img {
    width: 100%;
    height: auto; }
  .container .body > figure .legend {
    margin-top: 8px;
    padding-left: 30px;
    display: block;
    /* CREDITO FIGURA */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    /* or 130% */
    letter-spacing: 0.02em;
    /* TEXTO BLACK 60% */
    color: rgba(0, 0, 0, 0.6); }

@media screen and (orientation: portrait) {
  .container > .top.well,
  .container > nav > div,
  .container > nav > nav,
  .container > header {
    border-radius: 0; }
  .container > .top.well,
  .container > nav,
  .container .body {
    max-width: 100% !important; }
  .container > header {
    grid-template-columns: auto;
    grid-template-rows: auto auto; }
    .container > header > h1 {
      margin-left: 0;
      margin-bottom: 2em;
      text-align: justify; }
    .container > header > img {
      margin: 0 auto;
      height: 110px; }
  .container > nav > div {
    padding: 0 !important;
    padding-bottom: 1em !important; }
    .container > nav > div > label {
      display: block;
      width: 100%;
      font-size: 3em;
      line-height: initial;
      background-color: rgba(255, 255, 255, 0.2);
      margin-left: 0;
      margin-right: 0;
      padding-bottom: 0.5em;
      padding-top: 0.5em;
      cursor: pointer; }
      .container > nav > div > label:before {
        content: '☰'; }
    .container > nav > div ul {
      transition: all ease-in-out 0.2s;
      display: none;
      grid-template-columns: auto; }
      .container > nav > div ul.visible {
        display: grid; }
      .container > nav > div ul a {
        font-size: 3em;
        line-height: initial;
        display: block;
        width: 100%; }
  .container > nav > nav {
    margin-left: 0 !important;
    width: 100% !important;
    display: grid;
    grid-template-columns: auto; }
    .container > nav > nav > nav {
      position: initial;
      margin: 0 auto;
      margin-top: 2em; }
      .container > nav > nav > nav li {
        height: 50px;
        vertical-align: bottom; }
        .container > nav > nav > nav li a {
          font-size: 50px;
          padding-left: 0.25em;
          padding-right: 0.25em; }
      .container > nav > nav > nav .prev, .container > nav > nav > nav .next {
        height: 50px;
        width: 50px; }
  .container > .top.well {
    margin-top: 0 !important; }
    .container > .top.well > ul > li {
      display: block;
      margin-left: 5em;
      margin-right: 5em;
      padding: 2em;
      margin-bottom: 2em; }
      .container > .top.well > ul > li:last-of-type {
        margin-bottom: 0; }
      .container > .top.well > ul > li > a {
        font-size: 32px;
        font-weight: bold;
        line-height: initial; }
  .container > .body {
    padding-left: 3em;
    padding-right: 3em; }
  .container > footer {
    height: calc(50px * 2.5); }
    .container > footer img {
      height: 50px; }
    .container > footer > nav {
      left: unset; }
      .container > footer > nav li {
        height: 50px;
        vertical-align: bottom; }
        .container > footer > nav li a {
          font-size: 50px;
          padding-left: 0.25em;
          padding-right: 0.25em; }
    .container > footer .prev, .container > footer .next {
      height: 50px;
      width: 50px; }
  .accordion .body {
    max-width: 800px !important; } }

.light {
  font-weight: normal !important; }

table {
  width: 100%;
  border-collapse: collapse; }
  table th, table td {
    border-bottom: 2px solid #246BD7;
    border-right: 2px solid #246BD7; }
  table thead {
    background: #9BCCFA; }
    table thead th {
      color: #246BD7; }
  table tfoot td {
    border: 0; }
  table tbody td {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height, or 117% */
    letter-spacing: 0.05em;
    color: #000000; }
    table tbody td:nth-child(3n+1) {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      /* identical to box height, or 117% */
      letter-spacing: 0.05em;
      color: #000000;
      text-align: center; }

.balloon {
  max-width: 907px;
  margin: 0 auto !important;
  border: 4px solid #2F80ED;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 50px;
  margin-top: 19px !important;
  margin-bottom: 19px !important; }
  .balloon.molecular > h1 {
    background-image: url("icon.molecular.svg"); }
  .balloon.sorologico > h1 {
    background-image: url("icon.sorologico.svg"); }
  .balloon > h1 {
    display: block;
    height: 61px;
    line-height: 61px !important;
    background-repeat: no-repeat;
    background-position: left center;
    margin: 0;
    padding: 0;
    padding-left: 91px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 21px;
    /* identical to box height, or 105% */
    letter-spacing: 0.05em;
    color: #246BD7; }
  .balloon > p {
    margin-top: 17px !important;
    text-align: justify !important;
    /* CONTEUDO */
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 21px !important;
    /* or 150% */
    letter-spacing: 0.02em !important;
    /* TEXTO BLACK 60% */
    color: rgba(0, 0, 0, 0.6) !important; }
